<div>
    <h1>Login de usuario</h1>
    <form id="loginForm">
        <label>Email</label>
        <input name="email">
        <label>Password</label>
        {{!-- El password se esta mostrando de manera directa(texto plano), se debe cambiar el type a password 
        A04 --}}
        <input name="password">
        <button>Enviar</button>
    </form>
</div>
<script src="/js/login.js"></script>