<h1>Lista de productos</h1>
<div class="products">
    {{#each docs}}
        <div>
            <h2>{{this.title}}</h2>
            <p>Descripcion: {{this.description}}</p>
            <button type="button" onclick="addProduct('{{this.title}}')">Agregar al Carrito</button>
        </div>
    {{/each}}
</div>
<script src="/js/main.js"></script>
