<div>
    <h1>Registro</h1>
    {{!-- {
        name: 'asdasd',
        email: 'asdasd',
        password: '1234'
    } --}}
    <form action="/api/users" method="post">
        <label>Nombre</label>
        <input name="name">
        <label>Correo</label>
        <input name="email">
        <label>Contraseña</label>
        <input name="password">
        <input type="submit">
    </form>
</div>