<div>
    <h1>Inyección de cookies</h1>
    <form id="cookieForm">
        <label>Nombre</label>
        <input name="name">
        <label>Correo</label>
        <input name="email">
        <input type="submit">
    </form>
    <button onclick="getCookie()">Obtener Cookie</button>
</div>
<script src="/js/cookieSetter.js"></script>
{{!-- {
    name: "alex"
    email: "alex@gmail.com"
} --}}